<header class="h-20 border-b-2 border-gray-300 border-opacity-30 grid grid-cols-3 items-center px-24">
    <h1 class="text-white text-xl font-bold">Mi portafolio</h1>
    <nav class="flex justify-center space-x-8">
        <a href="/" class="text-white hover:text-secondary transition-colors duration-200">Inicio</a>
        <a href="/about" class="text-white hover:text-secondary transition-colors duration-200">Experiencia</a>
        <a href="/projects" class="text-white hover:text-secondary transition-colors duration-200">Proyectos</a>
        <a href="/contact" class="text-white hover:text-secondary transition-colors duration-200">Skills</a>
    </nav>
    <div class="flex justify-end">
    <button class="text-secondary py-2 px-6 rounded-lg border-2 border-secondary hover:text-white transition-colors duration-200">
        Ver CV
    </button>
    </div>

</header>
